div {
  display: flex;
}
.Slide {
  display: flex;
  /* border: solid black; */
  flex-direction: column;
  padding: 20px;
}

div.Clock {
  display: flex;
  flex-direction: row;
}

.fa-regular fa-clock {
  size: 40px;
}
img {
  width: 300px;
  height: 200px;
}
